
{% extends 'base.html.twig' %}

{% block body %}

<h2 class="page-header">Add Event</h2>
<section class="col-md-4">
{{form_start(form)}}

{{form_widget(form)}}

{{form_end(form)}}
</section>
{% endblock %}
